/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "variables";
@import "font-awesome";
@import "bootstrap";
@import "trix";

/*GENERAL*/
a {
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.theme-container {
	padding: 0 $desktop-left-right-spacing;
}
@media (min-width: $mobile-breakpoint){
	.theme-container {
	    padding: 0 $mobile-left-right-spacing;
	}
}
.underline {
	border-bottom: 1px black solid;
}

/*FORMS*/
.field {
	margin: 1rem 0;
}
.fa-plus:before {
  margin: 1rem;
}
/*HEADER*/
.header .row div {
	text-align: center;
}
.header-text {
	font-size: 2rem;
}
.header-links {
  padding: 2rem;
}

.header-logo{
	width: 100%;	
}
